<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Albums</title>
</head>
<body>
    <h1>List of Albums</h1>
    <div th:each="album : ${albums}">
        <h3 th:text="${album.title}"></h3>
        <p th:text="${album.artist}"></p>
        <img  th:src="${album.url}">
        <ul >
            <li>Song Count: <span th:text="${album.songCount}"></span></li>
            <li>Album Length (in seconds): <span th:text="${album.length}"></span></li>
        </ul>
    </div>
</body>
</html>