<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Albums</title>
</head>
<body>
    <h1>List of Albums</h1>
    <div th:each="album : ${albums}">
        <h3 th:text="${album.albumTitle}"></h3>
        <p th:text="${album.artist}"></p>
        <img  th:src="${album.url}">
        <ul th:each="song : ${album.songs}">
            <li>Song Count: <span th:text="${album.songCount}"></span></li>
            <li>Album Length (in seconds): <span th:text="${album.length}"></span></li>
            Tracks:
            <li th:text="${song.songTitle}"></li>
        </ul>
        <a th:href="@{'/album/' + ${album.id}}">View Details</a>
    </div>
</body>
</html>